.start-screen {
    display: block;
}

.character-select-screen {
    display: none;
    align-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.game-screen {
    display: none;
}

.game-end-screen {
    display: none;
}

#choose-addition, #choose-subtraction, #choose-multiplication, #choose-division {
    font-family: 'Montserrat', sans-serif;
}