html {
    max-width: 1400px;
    min-height: 650px;
    margin: auto;
    background-color: #102020;
}
body {
    min-width: 600px;
    max-width: 1400px;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/*==========Start Screen==========*/
.start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 15vw;
    right: 15vw;
    gap: 30px;
    overflow: hidden;
}
.start-bg {
    background-image: url("../assets/images/temple-bg.gif");
}
.audio-selected {
    display: block;
    position: absolute;
    top: 15px;
    right: 30px;
    max-height: 75px;
}
.audio-not-selected {
    display: none;
}
#title {
    font-family: 'Shojumaru';
    font-size: 130px;
    white-space: nowrap;
    margin-top: 10vh;
    background: -webkit-linear-gradient(#ff3d3d, #000000);
    -webkit-background-clip: text;
    background-clip: none; /*inserted only to remove error*/
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #d8d8d8;
    transform: scale(.8, 1);
}
#start-button {
    margin: 30px;
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 800;
    width: 160px;
    height: 60px;
    border-width: 1.5px;
    color: #000000;
    border-color: #d8d8d8;
    border-width: 4px;
    border-radius: 35px;
    background: linear-gradient(#e5e5e5, #4b4b4b);
}
#start-button:hover {
    background: linear-gradient(#ff3d3d, #000000);
    color: #ffffff;
}

/*==========Character Select Screen==========*/
.character-select-screen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    left: 15vw;
    right: 15vw;
}
#choose-character-text {
    font-family: 'Ceviche One';
    letter-spacing: 3px;
    width: 100%;
    font-size: 60px;
    text-align: center;
    margin-top: 8vh;
    background: -webkit-linear-gradient(#ff3d3d, #1b1b1b);
    -webkit-background-clip: text;
    background-clip: none; /*inserted only to remove error*/
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #d8d8d8;
}
.characters {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:center;
}
#male-idle, #female-idle {
    height: 25vh;
    width: auto;
}
#female-idle {
    transform: scaleX(-1);
}
.chosen-character {
    height: 25vh;
    width: auto;
    filter: drop-shadow(2px 2px 5px #ff3d3d)
    drop-shadow(-2px -2px 5px #ff3d3d);
}
#choose-operation-text {
    font-family: 'Ceviche One';
    letter-spacing: 3px;
    width: 100%;
    font-size: 60px;
    text-align: center;
    margin-top: 3vh;
    letter-spacing: 3px;
    background: -webkit-linear-gradient(#ff3d3d, #1b1b1b);
    -webkit-background-clip: text;
    background-clip: none; /*inserted only to remove error*/
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
    margin-bottom: 3vh;
}
.operator-buttons {
    display: flex;
    max-width: 90%;
    align-items: center;
    justify-content: space-evenly;
    gap: 10%;
}
#choose-addition, #choose-subtraction, #choose-multiplication, #choose-division, #choose-all {
    min-width: 0;
    max-height: 20vh;
}
#chosen-operator {
    min-width: 0;
    max-height: 20vh;
    filter: drop-shadow(2px 2px 5px #ff3d3d)
    drop-shadow(-2px -2px 5px #ff3d3d);
    transform: none;
}
.not-chosen-character:hover, #choose-addition:hover, #choose-subtraction:hover, #choose-multiplication:hover, #choose-division:hover, #choose-all:hover {
    filter: drop-shadow(2px 2px 5px #ffffff) 
    drop-shadow(-2px -2px 5px #ffffff);
}
#fight-button {
    margin-top: 8vh;
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 800;
    width: 160px;
    height: 60px;
    border-width: 1.5px;
    color: #000000;
    border-color: #d8d8d8;
    border-width: 4px;
    border-radius: 35px;
    background: linear-gradient(#e5e5e5, #4b4b4b);
}
#fight-button:hover {
    background: linear-gradient(#ff3d3d, #000000);
    color: #ffffff;
}

/*==========Game Screen==========*/
.game-screen {
    display: none;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100vh;
}
.player1-hp-bar {
    position: relative;
    width: 35%;
    height: 30px;
    background: #414141;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    margin: 5vh 3vw;
    overflow: hidden;
}
#player1-hp-fill {
    width: 100%;
    height: 100%;
    background-color: #2bbe27;
}
#player1-hp-text {
    position: absolute;
    top: 50%;
    right: 38px;
    transform: translateY(-50%);
    font-family: 'Montserrat';
    font-weight: 600;
    color: #ffffff;
}
#player1-hp-number {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    font-family: 'Montserrat';
    font-weight: 600;
    color: #ffffff;
}
.player2-hp-bar {
    position: relative;
    width: 35%;
    height: 30px;
    background: #414141;
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    margin: 5vh 3vw;
    overflow: hidden;
}
#player2-hp-fill {
    width: 100%;
    height: 100%;
    background-color: #2bbe27;
}
#player2-hp-text {
    position: absolute;
    top: 50%;
    right: 38px;
    transform: translateY(-50%);
    font-family: 'Montserrat';
    font-weight: 600;
    color: #ffffff;
}
#player2-hp-number {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    font-family: 'Montserrat';
    font-weight: 600;
    color: #ffffff;
}
.timer {
    position: relative;
    font-family: "Ceviche One";
    height: fit-content;
    padding: 10px;
    text-align: center;
    margin: 2vh -1vw;
}
#timer-text {
    font-size: 35px;
    background: -webkit-linear-gradient(#ff3d3d, #1b1b1b);
    -webkit-background-clip: text;
    background-clip: none; /*inserted only to remove error*/
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    margin-bottom: -15px;
}
#timer-number {
    font-size: 80px;
    background: -webkit-linear-gradient(#ff3d3d, #1b1b1b);
    -webkit-background-clip: text;
    background-clip: none; /*inserted only to remove error*/
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffffff;
}
.problem-box {
    display: none;
    flex-direction: column;
    white-space: nowrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat';
    background-color: rgba(36, 36, 36, 0.8);
    border: #000000;
    border-style: solid;
    border-radius: 25px;
    border-width: 5px;
    width: 30vw;
    min-width: fit-content;
    height: fit-content;
    padding: 30px;
    gap: 20px;
}
#current-player-text {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 25px;
    color: rgb(230, 230, 230);
}
#problem-text {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(230, 230, 230);
    text-align: center;
    width: fit-content;
    height: fit-content;
}
.answer-space {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
#answer {
    width: 80px;
    text-align: center;
    background-color: #5d5d5d;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 17px;
    color: rgb(230, 230, 230);
}
#submit-button, #next-button {
    font-family: 'Montserrat';
    font-size: 15px;
    width: 100px;
    height: 45px;
    border-width: 1px;
    color: #000000;
    border-color: #d8d8d8;
    border-width: 3px;
    font-weight: bold;
    border-radius: 20px;
    background: linear-gradient(#e5e5e5, #4b4b4b);
    margin-top: 15px;
}
#submit-button:hover, #next-button:hover {
    background: linear-gradient(#ff3d3d, #000000);
    color: #ffffff;
}
#next-button:disabled {
    color: #888888;
    border-color: #d8d8d8;
    background: linear-gradient(#e5e5e5, #858585);
}
#play-again-button {
    display: none;
    font-family: 'Montserrat';
    font-size: 15px;
    width: 140px;
    height: 45px;
    border-width: 1px;
    color: #000000;
    border-color: #d8d8d8;
    border-width: 3px;
    font-weight: bold;
    border-radius: 20px;
    background: linear-gradient(#e5e5e5, #4b4b4b);
    margin-top: 15px;
}
#play-again-button:hover {
    background: linear-gradient(#ff3d3d, #000000);
    color: #ffffff;
}
.players {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 15%;
}
#player1-character, #player2-character {
    height: 350px;
    margin-bottom: 5vh;
    align-self: flex-end;
}
#player2-character {
    transform: scaleX(-1)
}
.p1-attacking {
    animation: p1movement 3s linear 1;
}
.p2-attacking {
    animation: p2movement 3s linear 1;
}
#pause-background {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background: #979797;
    opacity: .7;
    z-index: 98;
}
.pause-menu {
    display: none;
    position: absolute;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    margin-top: 25vh;
    width: fit-content;
    height: fit-content;
    min-width: 50%;
    min-height: 20vh;
    background: rgb(62, 62, 62, 0.8);
    border: black;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    text-align: center;
    z-index: 99;
}
#pause-text {
    font-family: 'Ceviche One';
    font-size: 65px;
    background: -webkit-linear-gradient(#ff3d3d, #1b1b1b);
    -webkit-background-clip: text;
    background-clip: none; /*inserted only to remove error*/
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #ffffff;
    margin-top: auto;
    margin-bottom: auto;
    width: fit-content;
}
.audio-text {
    margin-top: 30px;
}
#music-text, #sounds-text {
    font-family: 'Ceviche One';
    font-size: 45px;
    background: -webkit-linear-gradient(#ff3d3d, #1b1b1b);
    -webkit-background-clip: text;
    background-clip: none; /*inserted only to remove error*/
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    margin-top: auto;
    margin-bottom: auto;
    width: fit-content;
}
#mute-button, #close-button, #reset-button {
    margin-top: auto;
    margin-bottom: auto;
    width: fit-content;
}
#close-button {
    font-family: 'Montserrat';
    font-size: 15px;
    width: 170px;
    height: 45px;
    border-width: 1px;
    color: #000000;
    border-color: #d8d8d8;
    border-width: 3px;
    font-weight: bold;
    border-radius: 20px;
    background: linear-gradient(#e5e5e5, #4b4b4b);
    margin-top: 50px;
}
#close-button:hover, #reset-button:hover {
    background: linear-gradient(#ff3d3d, #000000);
    color: #ffffff; 
}
#reset-button {
    font-family: 'Montserrat';
    font-size: 15px;
    width: 170px;
    height: 45px;
    border-width: 1px;
    color: #ffffff;
    border-color: #d8d8d8;
    border-width: 3px;
    font-weight: bold;
    border-radius: 20px;
    background: linear-gradient(#ff3d3d, #000000);
    margin-top: 20px;
    margin-bottom: 20px;
}
#reset-button:hover {
    background: linear-gradient(#ff3d3d, #ff7f7f);
    color: #ffffff;
}
.audio-text {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 20px;
}
.sound-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.music-selected {
    display: block;
    max-height: 75px;
}
.music-not-selected {
    display: none;
}
.sounds-selected {
    display: block;
    max-height: 75px;
}
.sounds-not-selected {
    display: none;
}

/*==========Animations==========*/
@keyframes p1movement {
    0% {
        transform: translate(0px);
    }
    35% {
        transform: translate(38vmin);
    }
    65% {
        transform: translate(38vmin);
    }
    75% {
        transform: translate(25vmin, -200px);
    }
    80% {
        transform: translate(20vmin, -220px);
    }
    85% {
        transform: translate(15vmin, -200px);
    }
    100% {
        transform: translate(0px);
    }
}
@keyframes p2movement {
    0% {
        transform: translate(0px) scaleX(-1);
    }
    35% {
        transform: translate(-40vmin) scaleX(-1);
    }
    65% {
        transform: translate(-40vmin) scaleX(-1);
    }
    75% {
        transform: translate(-30vmin, -200px) scaleX(-1);
    }
    80% {
        transform: translate(-25vmin, -220px) scaleX(-1);
    }
    85% {
        transform: translate(-20vmin, -200px) scaleX(-1);
    }
    100% {
        transform: translate(0px) scaleX(-1);
    }
}
@media (min-width: 1300px) {
    @keyframes p1movement {
        0% {
            transform: translate(0px);
        }
        35% {
            transform: translate(45vmin);
        }
        65% {
            transform: translate(45vmin);
        }
        75% {
            transform: translate(30vmin, -200px);
        }
        80% {
            transform: translate(25vmin, -220px);
        }
        85% {
            transform: translate(20vmin, -200px);
        }
        100% {
            transform: translate(0px);
        }
    }
    @keyframes p2movement {
        0% {
            transform: translate(0px) scaleX(-1);
        }
        35% {
            transform: translate(-48vmin) scaleX(-1);
        }
        65% {
            transform: translate(-48vmin) scaleX(-1);
        }
        75% {
            transform: translate(-40vmin, -200px) scaleX(-1);
        }
        80% {
            transform: translate(-30vmin, -220px) scaleX(-1);
        }
        85% {
            transform: translate(-20vmin, -200px) scaleX(-1);
        }
        100% {
            transform: translate(0px) scaleX(-1);
        }
    }
}
@media (max-height: 1100px) {
    @keyframes p1movement {
        0% {
            transform: translate(0px);
        }
        35% {
            transform: translate(52vmin);
        }
        65% {
            transform: translate(52vmin);
        }
        75% {
            transform: translate(40vmin, -80px);
        }
        80% {
            transform: translate(30vmin, -100px);
        }
        85% {
            transform: translate(20vmin, -80px);
        }
        100% {
            transform: translate(0px);
        }
    }
    @keyframes p2movement {
        0% {
            transform: translate(0px) scaleX(-1);
        }
        35% {
            transform: translate(-58vmin) scaleX(-1);
        }
        65% {
            transform: translate(-58vmin) scaleX(-1);
        }
        75% {
            transform: translate(-48vmin, -80px) scaleX(-1);
        }
        80% {
            transform: translate(-35vmin, -100px) scaleX(-1);
        }
        85% {
            transform: translate(-25vmin, -80px) scaleX(-1);
        }
        100% {
            transform: translate(0px) scaleX(-1);
        }
    }
}
@media (max-height: 800px) {
    #player1-character, #player2-character {
        height: 40vh;
        margin-bottom: 2vh;
        align-self: flex-end;
    }
    @keyframes p1movement {
        0% {
            transform: translate(0px);
        }
        35% {
            transform: translate(55vmin);
        }
        65% {
            transform: translate(55vmin);
        }
        75% {
            transform: translate(40vmin, -80px);
        }
        80% {
            transform: translate(30vmin, -100px);
        }
        85% {
            transform: translate(20vmin, -80px);
        }
        100% {
            transform: translate(0px);
        }
    }
    @keyframes p2movement {
        0% {
            transform: translate(0px) scaleX(-1);
        }
        35% {
            transform: translate(-60vmin) scaleX(-1);
        }
        65% {
            transform: translate(-60vmin) scaleX(-1);
        }
        75% {
            transform: translate(-45vmin, -80px) scaleX(-1);
        }
        80% {
            transform: translate(-32vmin, -100px) scaleX(-1);
        }
        85% {
            transform: translate(-20vmin, -80px) scaleX(-1);
        }
        100% {
            transform: translate(0px) scaleX(-1);
        }
    }
    .problem-box {
        max-height: 25vh;
        padding: 3%;
        gap: 10px;
    }
}
@media (max-height: 640px) {
    #player1-character, #player2-character {
        height: 40vh;
        margin-bottom: 2vh;
        align-self: flex-end;
    }
    @keyframes p1movement {
        0% {
            transform: translate(0px);
        }
        35% {
            transform: translate(75vmin);
        }
        65% {
            transform: translate(75vmin);
        }
        75% {
            transform: translate(50vmin, -80px);
        }
        80% {
            transform: translate(35vmin, -100px);
        }
        85% {
            transform: translate(25vmin, -80px);
        }
        100% {
            transform: translate(0px);
        }
    }
    @keyframes p2movement {
        0% {
            transform: translate(0px) scaleX(-1);
        }
        35% {
            transform: translate(-82vmin) scaleX(-1);
        }
        65% {
            transform: translate(-82vmin) scaleX(-1);
        }
        75% {
            transform: translate(-55vmin, -80px) scaleX(-1);
        }
        80% {
            transform: translate(-40vmin, -100px) scaleX(-1);
        }
        85% {
            transform: translate(-30vmin, -80px) scaleX(-1);
        }
        100% {
            transform: translate(0px) scaleX(-1);
        }
    }
}